@model IEnumerable<Obligatorio.Tarea>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
           


            <th>
                Descripcion
            </th>

            <th>
                FechaDeRealizacion
            </th>

            <th>
                SiSeCompleto
            </th>
            <th>
                FechaCierre
            </th>
            <th>
                ComentarioPeon
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Descripcion
                </td>
                <td>
                    @if (item.SiSeCompleto == true)
                    {
                        @item.FechaDeRealizacion
                    }
                    else
                    {
                        <p> No completada  </p>

                    }
                </td>
                <td>
                    @item.SiSeCompleto
                </td>
                <td>
                    @item.FechaCierre
                </td>
                <td>
                    @item.ComentarioPeon
                </td>

               

            </tr>
        }
    </tbody>
</table>
